*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #333533;
}
.container{
    display: flex;
    justify-content: center;
    background-color: #242423;
    max-width: 700px;
    min-height: 400px;
    padding: 15px 0;
    margin: auto;
    margin-top: 50px;
    border-radius: 4px;
}
.toDo{
    flex: 1;
    max-width: 500px;
}
.createToDo{
    display: flex;
    margin-top: 10px;
}
.createToDo input{
    flex:1;
    border: 1px solid #f5cb5c;
    outline: none;
    border-radius: 3px;
    padding: 10px;
    margin-right: 5px;
    background-color: #141514;
    color: #fff;
}
.createToDo button{
    border: 1px solid #f5cb5c;
    border-radius: 3px;
    padding: 10px;
    background-color: #242423;
    color: #fff;
}
#listItem{
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    margin-top: 5px;
}
.toDoItem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin-bottom: 5px;
    background-color: #333533;
    box-shadow: 0px 1px 2px 0px #f5cb5c;
}
.toDoItem-description{
    display: flex;
    flex: 1;
    align-items: center;
    color: #fff;
}
.toDoItem-description p{
    flex: 1;
    margin-left: 8px;
    margin-right: 8px;
    padding: 10px;
}
.toDoItem button{
    padding: 5px 6px;
}
.listButtons{
    display: flex;
    background-color: #483d8b;
    padding: 10px 5px;
}
.listButtons a{
    text-decoration: none;
    color: #fff;
    padding: 5px 10px;
    margin-right: 5px;
    transition: all 0.3s;
}
.listButtons a:hover{
    background-color: #dddddd52;
}
.model{
    display: none;
}

.selected{
    background-color: #dddddd52;
}